header {
    padding: 30px;
    text-align: center;
    background: #363c74;
    color: #e8d3a2;
    font-size: 10px;
  }
  
  .header_left {
    float: left;
    width: 20;
    text-align: center;
    background-blend-mode: difference
  }
  
  .header_center {
    float: center;
    width: 60;
  }
  
  .header_right {
    float: right;
    width: 20;
    text-align: center
  }
  
  .content {
    text-align: center;
    background-color: #e8d3a2;
  }
  
  footer {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 10px;
  }