<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="#">

    <title>UWBHackathon2020</title>

</head>

<body>
    <header>
        <div class="header_left">
            <img src="https://media.giphy.com/media/W4PtD360Ev9x4myZH0/giphy.gif" style="transform: scaleX(-1)" width="100" height="100">
            <img src="https://media.giphy.com/media/W4PtD360Ev9x4myZH0/giphy.gif" style="transform: scaleX(-1)" width="100" height="100">
            <img src="https://media.giphy.com/media/W4PtD360Ev9x4myZH0/giphy.gif" style="transform: scaleX(-1)" width="100" height="100">
            <img src="https://media.giphy.com/media/W4PtD360Ev9x4myZH0/giphy.gif" style="transform: scaleX(-1)" width="100" height="100">
        </div>
        <div class="header_right">
            <img src="https://media.giphy.com/media/W4PtD360Ev9x4myZH0/giphy.gif" width="100" height="100">
            <img src="https://media.giphy.com/media/W4PtD360Ev9x4myZH0/giphy.gif" width="100" height="100">
            <img src="https://media.giphy.com/media/W4PtD360Ev9x4myZH0/giphy.gif" width="100" height="100">
            <img src="https://media.giphy.com/media/W4PtD360Ev9x4myZH0/giphy.gif" width="100" height="100">
        </div>
        <div class="header_center">
            <h1>UWB Hacks the Cloud</h1>
        <h2>Team Something</h2>
        </div>
    </header>

    <div class="content">
        <iframe src="https://inframodem.github.io/ghackbuild/"  width="1000" height="700" onmousewheel="" webkitallowfullscreen="true"></iframe>
    </div>
</body>